<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlkfinance.bms.server.project.mapper.CusCredentialsMapper">
	<resultMap id="cusCredentialsMap" type="com.xlkfinance.bms.rpc.project.CusCredentials">
		<id property="pid" column="PID" />
		<id property="acctId" column="ACCT_ID" />
		<id property="projectId" column="PROJECT_ID" />
		<id property="fiveClassify" column="FIVE_CLASSIFY" />
		<id property="overdueNumsThree" column="OVERDUE_NUMS_THREE" />
		<id property="overdueNumsTwo" column="OVERDUE_NUMS_TWO" />
		<id property="loanTotal" column="LOAN_TOTAL" />
		<id property="isOverdue" column="IS_OVERDUE" />
		<id property="overdueMoney" column="OVERDUE_MONEY" />
		<id property="overdueTotalMoney" column="OVERDUE_TOTAL_MONEY" />
		<id property="overduePeriods" column="OVERDUE_PERIODS" />
		<id property="loanApprovalsNums" column="LOAN_APPROVALS_NUMS" />
		<id property="loanApprovalsNumsTwo" column="LOAN_APPROVALS_NUMS_TWO" />
		<id property="creditApprovalsNums" column="CREDIT_APPROVALS_NUMS" />
		<id property="creditApprovalsNumsThree" column="CREDIT_APPROVALS_NUMS_THREE" />
		<id property="inquiriesNums" column="INQUIRIES_NUMS" />
		<id property="socialSecurity" column="SOCIAL_SECURITY" />
		<id property="accumulationFund" column="ACCUMULATION_FUND" />
		<id property="createDate" column="CREATE_DATE" />
		<id property="createrId" column="CREATER_ID" />
		<id property="updateId" column="UPDATE_ID" />
		<id property="updateDate" column="UPDATE_DATE" />
		<!-- 消费贷新增字段-->
		<id property="customerNature" column="CUSTOMER_NATURE" />
		<id property="houseName" column="HOUSE_NAME" />
		<id property="landNature" column="LAND_NATURE" />
		<id property="estateUse" column="ESTATE_USE" />
		<id property="isCallPerson" column="IS_CALL_PERSON" />
		<id property="isCallUnit" column="IS_CALL_UNIT" />
		<id property="isCallContact" column="IS_CALL_CONTACT" />
		<id property="monthlyIncome" column="MONTHLY_INCOME" />
		<id property="monthlyReturn" column="MONTHLY_RETURN" />
		<id property="debtRadio" column="DEBT_RADIO" />
		<id property="leaseTerm" column="LEASE_TERM" />
		<id property="trialQuota" column="TRIAL_QUOTA" />
		<id property="loanMonthlyReturn" column="LOAN_MONTHLY_RETURN" />
		
		<id property="riskOneOpinion" column="RISK_ONE_OPINION" />
		<id property="riskOverOpinion" column="RISK_OVER_OPINION" />
		<id property="employSituation" column="EMPLOY_SITUATION" />
	</resultMap>
	<sql id="column_list">
        PID,ACCT_ID,PROJECT_ID,FIVE_CLASSIFY,OVERDUE_NUMS_THREE,OVERDUE_NUMS_TWO,LOAN_TOTAL,IS_OVERDUE,OVERDUE_MONEY,OVERDUE_TOTAL_MONEY,OVERDUE_PERIODS,LOAN_APPROVALS_NUMS,LOAN_APPROVALS_NUMS_TWO,CREDIT_APPROVALS_NUMS,CREDIT_APPROVALS_NUMS_THREE,INQUIRIES_NUMS,SOCIAL_SECURITY,ACCUMULATION_FUND,CREATE_DATE,CREATER_ID,UPDATE_ID
        ,UPDATE_DATE ,CUSTOMER_NATURE,HOUSE_NAME,LAND_NATURE,ESTATE_USE,IS_CALL_PERSON,IS_CALL_UNIT,
        IS_CALL_CONTACT,MONTHLY_INCOME,MONTHLY_RETURN,DEBT_RADIO,LEASE_TERM,TRIAL_QUOTA,LOAN_MONTHLY_RETURN,RISK_ONE_OPINION,RISK_OVER_OPINION,EMPLOY_SITUATION
	</sql>
	<!-- 查询所有 -->
	<select id="getAll" resultMap="cusCredentialsMap" parameterType="com.xlkfinance.bms.rpc.project.CusCredentials">
		SELECT
		<include refid="column_list" />
		FROM CUS_CREDENTIALS
		<where>
			<trim>
		      <if test="pid != null and pid >0">
	          PID=#{pid}
	          </if>
		      <if test="acctId != null and acctId >0">
	          AND ACCT_ID=#{acctId}
	          </if>
		      <if test="projectId != null and projectId >0">
	          AND PROJECT_ID=#{projectId}
	          </if>
		      <if test="fiveClassify != null and fiveClassify >0">
	          AND FIVE_CLASSIFY=#{fiveClassify}
	          </if>
		      <if test="overdueNumsThree != null and overdueNumsThree >0">
	          AND OVERDUE_NUMS_THREE=#{overdueNumsThree}
	          </if>
		      <if test="overdueNumsTwo != null and overdueNumsTwo >0">
	          AND OVERDUE_NUMS_TWO=#{overdueNumsTwo}
	          </if>
		      <if test="loanTotal != null and loanTotal >0">
	          AND LOAN_TOTAL=#{loanTotal}
	          </if>
		      <if test="isOverdue != null and isOverdue >0">
	          AND IS_OVERDUE=#{isOverdue}
	          </if>
		      <if test="overdueMoney != null and overdueMoney >0">
	          AND OVERDUE_MONEY=#{overdueMoney}
	          </if>
		      <if test="overdueTotalMoney != null and overdueTotalMoney >0">
	          AND OVERDUE_TOTAL_MONEY=#{overdueTotalMoney}
	          </if>
		      <if test="overduePeriods != null and overduePeriods >0">
	          AND OVERDUE_PERIODS=#{overduePeriods}
	          </if>
		      <if test="loanApprovalsNums != null and loanApprovalsNums >0">
	          AND LOAN_APPROVALS_NUMS=#{loanApprovalsNums}
	          </if>
		      <if test="loanApprovalsNumsTwo != null and loanApprovalsNumsTwo >0">
	          AND LOAN_APPROVALS_NUMS_TWO=#{loanApprovalsNumsTwo}
	          </if>
		      <if test="creditApprovalsNums != null and creditApprovalsNums >0">
	          AND CREDIT_APPROVALS_NUMS=#{creditApprovalsNums}
	          </if>
		      <if test="creditApprovalsNumsThree != null and creditApprovalsNumsThree >0">
	          AND CREDIT_APPROVALS_NUMS_THREE=#{creditApprovalsNumsThree}
	          </if>
		      <if test="inquiriesNums != null and inquiriesNums >0">
	          AND INQUIRIES_NUMS=#{inquiriesNums}
	          </if>
		      <if test="socialSecurity != null and socialSecurity >0">
	          AND SOCIAL_SECURITY=#{socialSecurity}
	          </if>
		      <if test="accumulationFund != null and accumulationFund >0">
	          AND ACCUMULATION_FUND=#{accumulationFund}
	          </if>
		      <if test="createDate != null and createDate !=''">
	          AND CREATE_DATE=#{createDate}
	          </if>
		      <if test="createrId != null and createrId >0">
	          AND CREATER_ID=#{createrId}
	          </if>
		      <if test="updateId != null and updateId >0">
	          AND UPDATE_ID=#{updateId}
	          </if>
		      <if test="updateDate != null and updateDate !=''">
	          AND UPDATE_DATE=#{updateDate}
	          </if>
			</trim>
		</where>
	</select>
	
	<!-- 根据id获取 -->
	<select id="getById" resultMap="cusCredentialsMap">
		SELECT <include refid="column_list" /> FROM CUS_CREDENTIALS WHERE PID=#{pid}
	</select>
	
	<!-- 根据ProjectId获取 -->
	<select id="getCredentialsByProjectId" resultMap="cusCredentialsMap">
		SELECT <include refid="column_list" /> FROM CUS_CREDENTIALS WHERE PROJECT_ID=#{projectId,jdbcType=INTEGER}
	</select>
	
	<!-- 插入一条数据 -->
	<insert id="insert" parameterType="com.xlkfinance.bms.rpc.project.CusCredentials">
		<selectKey resultType="java.lang.Integer" order="BEFORE"
			keyProperty="pid">
			SELECT SEQ_CUS_CREDENTIALS.Nextval as PID from DUAL
		</selectKey>
		INSERT INTO CUS_CREDENTIALS
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    <if test="pid != null and pid >0">
				PID,
			</if>
		    <if test="acctId != null and acctId >0">
				ACCT_ID,
			</if>
		    <if test="projectId != null and projectId >0">
				PROJECT_ID,
			</if>
		    <if test="fiveClassify != null and fiveClassify >0">
				FIVE_CLASSIFY,
			</if>
		    <if test="overdueNumsThree != null and overdueNumsThree >0">
				OVERDUE_NUMS_THREE,
			</if>
		    <if test="overdueNumsTwo != null and overdueNumsTwo >0">
				OVERDUE_NUMS_TWO,
			</if>
		    <if test="loanTotal != null and loanTotal >0">
				LOAN_TOTAL,
			</if>
		    <if test="isOverdue != null and isOverdue >0">
				IS_OVERDUE,
			</if>
		    <if test="overdueMoney != null and overdueMoney >0">
				OVERDUE_MONEY,
			</if>
		    <if test="overdueTotalMoney != null and overdueTotalMoney >0">
				OVERDUE_TOTAL_MONEY,
			</if>
		    <if test="overduePeriods != null and overduePeriods >0">
				OVERDUE_PERIODS,
			</if>
		    <if test="loanApprovalsNums != null and loanApprovalsNums >0">
				LOAN_APPROVALS_NUMS,
			</if>
		    <if test="loanApprovalsNumsTwo != null and loanApprovalsNumsTwo >0">
				LOAN_APPROVALS_NUMS_TWO,
			</if>
		    <if test="creditApprovalsNums != null and creditApprovalsNums >0">
				CREDIT_APPROVALS_NUMS,
			</if>
		    <if test="creditApprovalsNumsThree != null and creditApprovalsNumsThree >0">
				CREDIT_APPROVALS_NUMS_THREE,
			</if>
		    <if test="inquiriesNums != null and inquiriesNums >0">
				INQUIRIES_NUMS,
			</if>
		    <if test="socialSecurity != null and socialSecurity >0">
				SOCIAL_SECURITY,
			</if>
		    <if test="accumulationFund != null and accumulationFund >0">
				ACCUMULATION_FUND,
			</if>
		    <if test="createDate != null and createDate !=''">
				CREATE_DATE,
			</if>
		    <if test="createrId != null and createrId >0">
				CREATER_ID,
			</if>
		    <if test="updateId != null and updateId >0">
				UPDATE_ID,
			</if>
		    <if test="customerNature != null and customerNature !=''">
				CUSTOMER_NATURE,
			</if>
		    <if test="houseName != null and houseName !=''">
				HOUSE_NAME,
			</if>
		    <if test="landNature != null and landNature !=''">
				LAND_NATURE,
			</if>
		    <if test="estateUse != null and estateUse !=''">
				ESTATE_USE,
			</if>
		   <if test="isCallPerson != null and isCallPerson >0">
				IS_CALL_PERSON,
			</if><if test="isCallUnit != null and isCallUnit >0">
				IS_CALL_UNIT,
			</if><if test="isCallContact != null and isCallContact >0">
				IS_CALL_CONTACT,
			</if>
		   <if test="monthlyIncome != null and monthlyIncome >0">
				MONTHLY_INCOME,
			</if><if test="monthlyReturn != null and monthlyReturn >0">
				MONTHLY_RETURN,
			</if><if test="debtRadio != null and debtRadio >0">
				DEBT_RADIO,
			</if>
		   <if test="leaseTerm != null and leaseTerm >0">
				LEASE_TERM,
			</if><if test="trialQuota != null and trialQuota >0">
				TRIAL_QUOTA,
			</if><if test="loanMonthlyReturn != null and loanMonthlyReturn >0">
				LOAN_MONTHLY_RETURN,
			</if>
			<if test="riskOneOpinion != null and riskOneOpinion !=''">
				RISK_ONE_OPINION,
			</if>
			<if test="riskOverOpinion != null and riskOverOpinion !=''">
				RISK_OVER_OPINION,
			</if>
			<if test="employSituation != null and employSituation !=''">
				EMPLOY_SITUATION,
			</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		    <if test="pid != null and pid >0">
		    #{pid},
			</if>
		    <if test="acctId != null and acctId >0">
		    #{acctId},
			</if>
		    <if test="projectId != null and projectId >0">
		    #{projectId},
			</if>
		    <if test="fiveClassify != null and fiveClassify >0">
		    #{fiveClassify},
			</if>
		    <if test="overdueNumsThree != null and overdueNumsThree >0">
		    #{overdueNumsThree},
			</if>
		    <if test="overdueNumsTwo != null and overdueNumsTwo >0">
		    #{overdueNumsTwo},
			</if>
		    <if test="loanTotal != null and loanTotal >0">
		    #{loanTotal},
			</if>
		    <if test="isOverdue != null and isOverdue >0">
		    #{isOverdue},
			</if>
		    <if test="overdueMoney != null and overdueMoney >0">
		    #{overdueMoney},
			</if>
		    <if test="overdueTotalMoney != null and overdueTotalMoney >0">
		    #{overdueTotalMoney},
			</if>
		    <if test="overduePeriods != null and overduePeriods >0">
		    #{overduePeriods},
			</if>
		    <if test="loanApprovalsNums != null and loanApprovalsNums >0">
		    #{loanApprovalsNums},
			</if>
		    <if test="loanApprovalsNumsTwo != null and loanApprovalsNumsTwo >0">
		    #{loanApprovalsNumsTwo},
			</if>
		    <if test="creditApprovalsNums != null and creditApprovalsNums >0">
		    #{creditApprovalsNums},
			</if>
		    <if test="creditApprovalsNumsThree != null and creditApprovalsNumsThree >0">
		    #{creditApprovalsNumsThree},
			</if>
		    <if test="inquiriesNums != null and inquiriesNums >0">
		    #{inquiriesNums},
			</if>
		    <if test="socialSecurity != null and socialSecurity >0">
		    #{socialSecurity},
			</if>
		    <if test="accumulationFund != null and accumulationFund >0">
		    #{accumulationFund},
			</if>
		    <if test="createDate != null and createDate !=''">
		    #{createDate,jdbcType= TIMESTAMP,javaType= java.lang.String},
			</if>
		    <if test="createrId != null and createrId >0">
		    #{createrId},
			</if>
		    <if test="updateId != null and updateId >0">
		    #{updateId},
			</if>
		    <if test="updateDate != null and updateDate !=''">
		    #{updateDate,jdbcType= TIMESTAMP,javaType= java.lang.String},
			</if>
			<if test="customerNature != null and customerNature !=''">
				#{customerNature},
			</if>
		    <if test="houseName != null and houseName !=''">
				#{houseName},
			</if>
		    <if test="landNature != null and landNature !=''">
				#{landNature},
			</if>
		    <if test="estateUse != null and estateUse !=''">
				#{estateUse},
			</if>
		   <if test="isCallPerson != null and isCallPerson >0">
				#{isCallPerson},
			</if><if test="isCallUnit != null and isCallUnit >0">
				#{isCallUnit},
			</if><if test="isCallContact != null and isCallContact >0">
				#{isCallContact},
			</if>
		   <if test="monthlyIncome != null and monthlyIncome >0">
				#{monthlyIncome},
			</if><if test="monthlyReturn != null and monthlyReturn >0">
				#{monthlyReturn},
			</if><if test="debtRadio != null and debtRadio >0">
				#{debtRadio},
			</if>
		   <if test="leaseTerm != null and leaseTerm >0">
				#{leaseTerm},
			</if><if test="trialQuota != null and trialQuota >0">
				#{trialQuota},
			</if><if test="loanMonthlyReturn != null and loanMonthlyReturn >0">
				#{loanMonthlyReturn},
			</if>
			<if test="riskOneOpinion != null">
				#{riskOneOpinion},
			</if>
			<if test="riskOverOpinion != null">
				#{riskOverOpinion},
			</if>
			<if test="employSituation != null and employSituation !=''">
				#{employSituation},
			</if>
		</trim>
	</insert>
	<!-- 根据id删除数据 -->
	<delete id="deleteById" parameterType="com.xlkfinance.bms.rpc.project.CusCredentials">
		<![CDATA[DELETE FROM CUS_CREDENTIALS WHERE PID=#{pid}]]>
	</delete>
	<!-- 根据id更新数据 -->
		<update id="update" parameterType="com.xlkfinance.bms.rpc.project.CusCredentials">
		UPDATE CUS_CREDENTIALS
		<set>
		    <if test="pid != null and pid >0">
		     PID=#{pid},
			</if>
		    <if test="acctId != null and acctId >0">
		     ACCT_ID=#{acctId},
			</if>
		    <if test="projectId != null and projectId >0">
		     PROJECT_ID=#{projectId},
			</if>
		    <if test="fiveClassify != null and fiveClassify >0">
		     FIVE_CLASSIFY=#{fiveClassify},
			</if>
		    <if test="overdueNumsThree != null and overdueNumsThree >0">
		     OVERDUE_NUMS_THREE=#{overdueNumsThree},
			</if>
		    <if test="overdueNumsTwo != null and overdueNumsTwo >0">
		     OVERDUE_NUMS_TWO=#{overdueNumsTwo},
			</if>
		    <if test="loanTotal != null and loanTotal >0">
		     LOAN_TOTAL=#{loanTotal},
			</if>
		    <if test="isOverdue != null and isOverdue >0">
		     IS_OVERDUE=#{isOverdue},
			</if>
		    <if test="overdueMoney != null and overdueMoney >0">
		     OVERDUE_MONEY=#{overdueMoney},
			</if>
		    <if test="overdueTotalMoney != null and overdueTotalMoney >0">
		     OVERDUE_TOTAL_MONEY=#{overdueTotalMoney},
			</if>
		    <if test="overduePeriods != null and overduePeriods >0">
		     OVERDUE_PERIODS=#{overduePeriods},
			</if>
		    <if test="loanApprovalsNums != null and loanApprovalsNums >0">
		     LOAN_APPROVALS_NUMS=#{loanApprovalsNums},
			</if>
		    <if test="loanApprovalsNumsTwo != null and loanApprovalsNumsTwo >0">
		     LOAN_APPROVALS_NUMS_TWO=#{loanApprovalsNumsTwo},
			</if>
		    <if test="creditApprovalsNums != null and creditApprovalsNums >0">
		     CREDIT_APPROVALS_NUMS=#{creditApprovalsNums},
			</if>
		    <if test="creditApprovalsNumsThree != null and creditApprovalsNumsThree >0">
		     CREDIT_APPROVALS_NUMS_THREE=#{creditApprovalsNumsThree},
			</if>
		    <if test="inquiriesNums != null and inquiriesNums >0">
		     INQUIRIES_NUMS=#{inquiriesNums},
			</if>
		    <if test="socialSecurity != null and socialSecurity >0">
		     SOCIAL_SECURITY=#{socialSecurity},
			</if>
		    <if test="accumulationFund != null and accumulationFund >0">
		     ACCUMULATION_FUND=#{accumulationFund},
			</if>
		    <if test="createDate != null and createDate !=''">
		     CREATE_DATE=#{createDate,jdbcType= TIMESTAMP,javaType= java.lang.String},
			</if>
		    <if test="createrId != null and createrId >0">
		     CREATER_ID=#{createrId},
			</if>
		    <if test="updateId != null and updateId >0">
		     UPDATE_ID=#{updateId},
			</if>
		    <if test="updateDate != null and updateDate !=''">
		     UPDATE_DATE=#{updateDate,jdbcType= TIMESTAMP,javaType= java.lang.String},
			</if>
			<if test="customerNature != null and customerNature !=''">
				CUSTOMER_NATURE=#{customerNature},
			</if>
		    <if test="houseName != null and houseName !=''">
				HOUSE_NAME=#{houseName},
			</if>
		    <if test="landNature != null and landNature !=''">
				LAND_NATURE=#{landNature},
			</if>
		    <if test="estateUse != null and estateUse !=''">
				ESTATE_USE=#{estateUse},
			</if>
		    <if test="isCallPerson != null and isCallPerson >0">
				IS_CALL_PERSON=#{isCallPerson},
			</if>
			<if test="isCallUnit != null and isCallUnit >0">
				IS_CALL_UNIT=#{isCallUnit},
			</if>
			<if test="isCallContact != null and isCallContact >0">
				IS_CALL_CONTACT=#{isCallContact},
			</if>
		    <if test="monthlyIncome != null and monthlyIncome >0">
				MONTHLY_INCOME=#{monthlyIncome},
			</if>
			<if test="monthlyReturn != null and monthlyReturn >0">
				MONTHLY_RETURN=#{monthlyReturn},
			</if>
			<if test="debtRadio != null and debtRadio >0">
				DEBT_RADIO=#{debtRadio},
			</if>
		    <if test="leaseTerm != null and leaseTerm >0">
				LEASE_TERM=#{leaseTerm},
			</if>
			<if test="trialQuota != null and trialQuota >0">
				TRIAL_QUOTA=#{trialQuota},
			</if>
			<if test="loanMonthlyReturn != null and loanMonthlyReturn >0">
				LOAN_MONTHLY_RETURN=#{loanMonthlyReturn},
			</if>
			<if test="riskOneOpinion != null">
				RISK_ONE_OPINION = #{riskOneOpinion},
			</if>
			<if test="riskOverOpinion != null">
				RISK_OVER_OPINION = #{riskOverOpinion},
			</if>
			<if test="employSituation != null and employSituation !=''">
				EMPLOY_SITUATION = #{employSituation},
			</if>
		</set>
		WHERE PID = #{pid}
	</update>
	<!-- 根据传入多个id删除数据 -->
	<delete id="deleteByIds" parameterType="java.util.List">
		DELETE FROM CUS_CREDENTIALS WHERE PID in
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>
