<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlkfinance.bms.server.project.mapper.CusHisCardInfoMapper">
	<resultMap id="cusHisCardInfoMap" type="com.xlkfinance.bms.rpc.project.CusHisCardInfo">
		<id property="pid" column="PID" />
		<id property="projectId" column="PROJECT_ID" />
		<id property="acctId" column="ACCT_ID" />
		<id property="receBankCardName" column="RECE_BANK_CARD_NAME" />
		<id property="receBankCardCode" column="RECE_BANK_CARD_CODE" />
		<id property="receBankName" column="RECE_BANK_NAME" />
		<id property="repaymentBankCardName" column="REPAYMENT_BANK_CARD_NAME" />
		<id property="repaymentBankCardCode" column="REPAYMENT_BANK_CARD_CODE" />
		<id property="repaymentBankName" column="REPAYMENT_BANK_NAME" />
		<id property="createrId" column="CREATER_ID" />
		<id property="createDate" column="CREATE_DATE" />
		<id property="createNode" column="CREATE_NODE" />
		<id property="createUserName" column="CREATE_USER_NAME" />
		<id property="createNodeName" column="CREATE_NODE_NAME" />
	</resultMap>
	<sql id="column_list">
        PID,PROJECT_ID,ACCT_ID,RECE_BANK_CARD_NAME,RECE_BANK_CARD_CODE,RECE_BANK_NAME,REPAYMENT_BANK_CARD_NAME,REPAYMENT_BANK_CARD_CODE,REPAYMENT_BANK_NAME,CREATER_ID,CREATE_DATE,CREATE_NODE
	</sql>
	<!-- 查询所有 -->
	<select id="getAll" resultMap="cusHisCardInfoMap" parameterType="com.xlkfinance.bms.rpc.project.CusHisCardInfo">
		SELECT
		<include refid="column_list" />,
		(SELECT REAL_NAME FROM SYS_USER WHERE PID = CREATER_ID) CREATE_USER_NAME,
		8 PROJECT_TYPE
		FROM CUS_HIS_CARD_INFO
		<where>
			<trim>
		      <if test="pid != null and pid >0">
	          PID=#{pid}
	          </if>
		      <if test="projectId != null and projectId >0">
	          AND PROJECT_ID=#{projectId}
	          </if>
		      <if test="acctId != null and acctId >0">
	          AND ACCT_ID=#{acctId}
	          </if>
		      <if test="receBankCardName != null and receBankCardName !=''">
	          AND RECE_BANK_CARD_NAME=#{receBankCardName}
	          </if>
		      <if test="receBankCardCode != null and receBankCardCode !=''">
	          AND RECE_BANK_CARD_CODE=#{receBankCardCode}
	          </if>
		      <if test="receBankName != null and receBankName !=''">
	          AND RECE_BANK_NAME=#{receBankName}
	          </if>
		      <if test="repaymentBankCardName != null and repaymentBankCardName !=''">
	          AND REPAYMENT_BANK_CARD_NAME=#{repaymentBankCardName}
	          </if>
		      <if test="repaymentBankCardCode != null and repaymentBankCardCode !=''">
	          AND REPAYMENT_BANK_CARD_CODE=#{repaymentBankCardCode}
	          </if>
		      <if test="repaymentBankName != null and repaymentBankName !=''">
	          AND REPAYMENT_BANK_NAME=#{repaymentBankName}
	          </if>
		      <if test="createrId != null and createrId >0">
	          AND CREATER_ID=#{createrId}
	          </if>
		      <if test="createDate != null and createDate !=''">
	          AND CREATE_DATE=#{createDate}
	          </if>
		      <if test="createNode != null and createNode >0">
	          AND CREATE_NODE=#{createNode}
	          </if>
			</trim>
		</where>
		ORDER BY CREATE_DATE DESC
	</select>
	
	<!-- 根据id获取 -->
	<select id="getById" resultMap="cusHisCardInfoMap">
		SELECT <include refid="column_list" /> FROM CUS_HIS_CARD_INFO WHERE PID=#{pid}
	</select>
	
	<!-- 根据ProjectId获取 -->
	<select id="getEnterpriseInfoByProjectId" resultMap="cusHisCardInfoMap">
		SELECT <include refid="column_list" /> FROM CUS_HIS_CARD_INFO WHERE PROJECT_ID=#{projectId,jdbcType=INTEGER}
	</select>
	
	<!-- 插入一条数据 -->
	<insert id="insert" parameterType="com.xlkfinance.bms.rpc.project.CusHisCardInfo">
		<selectKey resultType="java.lang.Integer" order="BEFORE"
			keyProperty="pid">
			SELECT SEQ_CUS_HIS_CARD_INFO.Nextval as PID from DUAL
		</selectKey>
		INSERT INTO CUS_HIS_CARD_INFO (
			PID,
			PROJECT_ID,
			ACCT_ID,
			RECE_BANK_CARD_NAME,
			RECE_BANK_CARD_CODE,
			RECE_BANK_NAME,
			REPAYMENT_BANK_CARD_NAME,
			REPAYMENT_BANK_CARD_CODE,
			REPAYMENT_BANK_NAME,
			CREATER_ID,
			CREATE_DATE,
			CREATE_NODE
		)
		SELECT
			#{pid,jdbcType=INTEGER},
			PROJECT_ID,
			ACCT_ID,
			RECE_BANK_CARD_NAME,
			RECE_BANK_CARD_CODE,
			RECE_BANK_NAME,
			REPAYMENT_BANK_CARD_NAME,
			REPAYMENT_BANK_CARD_CODE,
			REPAYMENT_BANK_NAME,
			#{createrId,jdbcType=INTEGER},
			SYSDATE,
			#{createNode,jdbcType=INTEGER}
		FROM CUS_CARD_INFO WHERE PROJECT_ID = #{projectId,jdbcType=INTEGER}
	</insert>
	
	<!-- 根据id删除数据 -->
	<delete id="deleteById" parameterType="com.xlkfinance.bms.rpc.project.CusHisCardInfo">
		<![CDATA[DELETE FROM CUS_HIS_CARD_INFO WHERE PID=#{pid}]]>
	</delete>
	
	<!-- 根据id更新数据 -->
		<update id="update" parameterType="com.xlkfinance.bms.rpc.project.CusHisCardInfo">
		UPDATE CUS_HIS_CARD_INFO
		<set>
		    <if test="pid != null and pid >0">
		     PID=#{pid},
			</if>
		    <if test="projectId != null and projectId >0">
		     PROJECT_ID=#{projectId},
			</if>
		    <if test="acctId != null and acctId >0">
		     ACCT_ID=#{acctId},
			</if>
		    <if test="receBankCardName != null and receBankCardName !=''">
		     RECE_BANK_CARD_NAME=#{receBankCardName},
			</if>
		    <if test="receBankCardCode != null and receBankCardCode !=''">
		     RECE_BANK_CARD_CODE=#{receBankCardCode},
			</if>
		    <if test="receBankName != null and receBankName !=''">
		     RECE_BANK_NAME=#{receBankName},
			</if>
		    <if test="repaymentBankCardName != null and repaymentBankCardName !=''">
		     REPAYMENT_BANK_CARD_NAME=#{repaymentBankCardName},
			</if>
		    <if test="repaymentBankCardCode != null and repaymentBankCardCode !=''">
		     REPAYMENT_BANK_CARD_CODE=#{repaymentBankCardCode},
			</if>
		    <if test="repaymentBankName != null and repaymentBankName !=''">
		     REPAYMENT_BANK_NAME=#{repaymentBankName},
			</if>
		    <if test="createrId != null and createrId >0">
		     CREATER_ID=#{createrId},
			</if>
		    <if test="createDate != null and createDate !=''">
		     CREATE_DATE=#{createDate,jdbcType= TIMESTAMP,javaType= java.lang.String},
			</if>
		    <if test="createNode != null and createNode >0">
		     CREATE_NODE=#{createNode},
			</if>
		</set>
		WHERE PID = #{pid}
	</update>
	<!-- 根据传入多个id删除数据 -->
	<delete id="deleteByIds" parameterType="java.util.List">
		DELETE FROM CUS_HIS_CARD_INFO WHERE PID in
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>
