<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlkfinance.bms.server.customer.mapper.CusEstQuotaMapper">

<resultMap id="selectAllResultMap" type="com.xlkfinance.bms.rpc.customer.CusEstQuota" >
       <id column="PID" property="pid" jdbcType="INTEGER" />
	   <result column="FACTOR_id" property="cusEstFactorWeights.pid" jdbcType="INTEGER" />
	   <result column="QUOTA_NAME" property="quotaName" jdbcType="VARCHAR" />
	   <result column="REMARK" property="remark" jdbcType="VARCHAR" />
	   <result column="total_score" property="totalScore" jdbcType="DOUBLE" />
	   <result column="status" property="status" jdbcType="INTEGER" />
</resultMap>

<select id="getEstQuotas" resultMap="selectAllResultMap" parameterType="java.lang.Integer">
  		SELECT  CEQ.pid,
        CEQ.FACTOR_ID, 
        CEQ.QUOTA_NAME, 
        CEQ.REMARK,
        (SELECT SUM(SCORE) FROM CUS_EST_OPTION CEO WHERE CEO.QUOTA_ID=CEQ.PID AND CEO.STATUS=1) TOTAL_SCORE,
        CEQ.STATUS
     FROM 
         CUS_EST_QUOTA CEQ
     WHERE 
         CEQ.status=1
	and CEQ.factor_id=#{factorId,jdbcType=INTEGER}
  	</select>

<select id="selectByPrimaryKey" resultMap="selectAllResultMap" parameterType="java.lang.Integer">
	select * from cus_est_quota where pid=#{pid,jdbcType=INTEGER}
</select> 

<insert id="insert" parameterType="com.xlkfinance.bms.rpc.customer.CusEstQuota">
  <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="pid">
		SELECT SEQ_CUS_EST_QUOTA.Nextval as PID from DUAL
	</selectKey>
    insert into cus_est_quota (
    	PID, 
    	FACTOR_ID, 
    	QUOTA_NAME, 
    	REMARK,
    	STATUS)
    values (
    	#{pid,jdbcType=INTEGER},
    	#{cusEstFactorWeights.pid,jdbcType=INTEGER},
     	#{quotaName,jdbcType=VARCHAR},
     	#{remark,jdbcType=VARCHAR},
     	#{status,jdbcType=INTEGER})
  </insert>
  <!-- 更新的方法 -->
	<update id="updateByPrimaryKey" parameterType="com.xlkfinance.bms.rpc.customer.CusEstQuota">
		update cus_est_quota
		<set>
		<if test="cusEstFactorWeights.pid != null">
		    FACTOR_ID = #{cusEstFactorWeights.pid,jdbcType=INTEGER}, 
		</if>
    	<if test="quotaName != null">
      		QUOTA_NAME = #{quotaName,jdbcType=VARCHAR}, 
      	</if>
      	<if test="remark != null">
      		REMARK = #{remark,jdbcType=VARCHAR},
      	</if>
      	<if test="status != null">
      		STATUS = #{status,jdbcType=INTEGER}
      	</if>
		</set>
		where pid = #{pid,jdbcType=INTEGER}
	</update>
	
 <!-- 批量新增的方法 -->	
<insert id="insertEstQuotas" parameterType="java.util.List">
	insert into cus_est_quota (
    	PID, 
    	FACTOR_ID, 
    	QUOTA_NAME, 
    	REMARK,
    	STATUS)
select SEQ_CUS_EST_QUOTA.Nextval,A.* from(
        <foreach collection="list" item="item" index="index"
            separator="UNION">
            SELECT
	    	#{item.cusEstFactorWeights.pid,jdbcType=INTEGER},
	     	#{item.quotaName,jdbcType=VARCHAR},
	     	#{item.remark,jdbcType=VARCHAR},
	     	#{item.status,jdbcType=INTEGER}
            from dual 
             </foreach>
        ) A
</insert>
  <!-- 批量更新的方法 -->
<update id="updateEstQuotas" parameterType="java.util.List">
	begin
	 <foreach collection="list" item="item" index="index" open="" close="" separator=";">
		update cus_est_quota
		<set>
		<if test="item.cusEstFactorWeights.pid != null">
		    FACTOR_ID = #{item.cusEstFactorWeights.pid,jdbcType=INTEGER}, 
		</if>
    	<if test="item.quotaName != null">
      		QUOTA_NAME = #{item.quotaName,jdbcType=VARCHAR}, 
      	</if>
      	<if test="item.remark != null">
      		REMARK = #{item.remark,jdbcType=VARCHAR},
      	</if>
      	<if test="item.status != null">
      		STATUS = #{item.status,jdbcType=INTEGER},
      	</if>
		</set> 
		where pid = #{item.pid,jdbcType=INTEGER}
	 </foreach>
	 ;end;
</update>

<update id="deleteEstQuotas" parameterType="java.util.List">
  	UPDATE CUS_EST_QUOTA 
	SET STATUS = 0 
	WHERE FACTOR_ID=#{list[0].cusEstFactorWeights.pid} 
	AND PID NOT IN
	<foreach item="item" collection="list" open="(" separator="," close=")">
	          #{item.pid}
	</foreach>
</update>

</mapper>