<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlkfinance.bms.server.aom.system.mapper.SmsValidateCodeInfoMapper">
	<resultMap id="smsValidateCodeInfoMap" type="com.qfang.xk.aom.rpc.system.SmsValidateCodeInfo">
		<id property="pid" column="PID" />
		<id property="telphone" column="TELPHONE" />
		<id property="code" column="CODE" />
		<id property="sendDate" column="SEND_DATE" />
		<id property="createDate" column="CREATE_DATE" />
		<id property="creatorId" column="CREATOR_ID" />
		<id property="category" column="CATEGORY" />
		<id property="status" column="STATUS" />
		<id property="ipAddress" column="IP_ADDRESS" />
	</resultMap>
	<sql id="column_list">
        PID,TELPHONE,CODE,SEND_DATE,CREATE_DATE,CREATOR_ID,CATEGORY,STATUS,IP_ADDRESS
	</sql>
	<!-- 查询所有 -->
	<select id="getAll" resultMap="smsValidateCodeInfoMap" parameterType="com.qfang.xk.aom.rpc.system.SmsValidateCodeInfo">
		SELECT
		<include refid="column_list" />
		FROM T_SMS_VALIDATE_CODE_INFO
		<where>
			<trim>
		      <if test="pid != null and pid >0">
	          PID=#{pid}
	          </if>
		      <if test="telphone != null and telphone !=''">
	          AND TELPHONE=#{telphone}
	          </if>
		      <if test="code != null and code !=''">
	          AND CODE=#{code}
	          </if>
		      <if test="sendDate != null and sendDate !=''">
	          AND SEND_DATE=#{sendDate}
	          </if>
		      <if test="createDate != null and createDate !=''">
	          AND CREATE_DATE=#{createDate}
	          </if>
		      <if test="ipAddress != null and ipAddress !=''">
	          AND IP_ADDRESS=#{ipAddress}
	          </if>
		      <if test="creatorId != null and creatorId >0">
	          AND CREATOR_ID=#{creatorId}
	          </if>
		      <if test="category != null and category >0">
	          AND CATEGORY=#{category}
	          </if>
		      <if test="status != null and status >0">
	          AND STATUS=#{status}
	          </if>
			</trim>
		</where>
		ORDER BY SEND_DATE DESC
	</select>
	<select id="getCount" resultType="int" parameterType="com.qfang.xk.aom.rpc.system.SmsValidateCodeInfo">
		SELECT COUNT(1)
		FROM T_SMS_VALIDATE_CODE_INFO
		<where>
			<trim>
		      <if test="pid != null and pid >0">
	          PID=#{pid}
	          </if>
		      <if test="telphone != null and telphone !=''">
	          AND TELPHONE=#{telphone}
	          </if>
		      <if test="code != null and code !=''">
	          AND CODE=#{code}
	          </if>
		      <if test="sendDate != null and sendDate !=''">
	          AND SEND_DATE=#{sendDate}
	          </if>
		      <if test="createDate != null and createDate !=''">
	          AND CREATE_DATE=#{createDate}
	          </if>
	          <if test="ipAddress != null and ipAddress !=''">
	          AND IP_ADDRESS=#{ipAddress}
	          </if>
		      <if test="creatorId != null and creatorId >0">
	          AND CREATOR_ID=#{creatorId}
	          </if>
		      <if test="category != null and category >0">
	          AND CATEGORY=#{category}
	          </if>
		      <if test="status != null and status >0">
	          AND STATUS=#{status}
	          </if>
			</trim>
		</where>
	</select>
	<!-- 根据id获取 -->
	<select id="getById" resultMap="smsValidateCodeInfoMap">
		SELECT <include refid="column_list" /> FROM T_SMS_VALIDATE_CODE_INFO WHERE PID=#{pid}
	</select>
	<!-- 插入一条数据 -->
	<insert id="insert" parameterType="com.qfang.xk.aom.rpc.system.SmsValidateCodeInfo">
		<selectKey resultType="java.lang.Integer" order="BEFORE"
			keyProperty="pid">
			SELECT SEQ_SMS_VALIDATE_CODE_INFO.Nextval as PID from DUAL
		</selectKey>
		INSERT INTO T_SMS_VALIDATE_CODE_INFO
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    <if test="pid != null and pid >0">
				PID,
			</if>
		    <if test="telphone != null and telphone !=''">
				TELPHONE,
			</if>
		    <if test="code != null and code !=''">
				CODE,
			</if>
		    <if test="sendDate != null and sendDate !=''">
				SEND_DATE,
			</if>
				CREATE_DATE,
		    <if test="creatorId != null and creatorId >0">
				CREATOR_ID,
			</if>
		    <if test="category != null and category >0">
				CATEGORY,
			</if>
		    <if test="status != null and status >0">
				STATUS,
			</if>
		    <if test="ipAddress != null and ipAddress !=''">
	           IP_ADDRESS,
	        </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		    <if test="pid != null and pid >0">
		    #{pid},
			</if>
		    <if test="telphone != null and telphone !=''">
		    #{telphone},
			</if>
		    <if test="code != null and code !=''">
		    #{code},
			</if>
		    <if test="sendDate != null and sendDate !=''">
		    #{sendDate,jdbcType= TIMESTAMP,javaType= java.lang.String},
			</if>
		    SYSDATE,
		    <if test="creatorId != null and creatorId >0">
		    #{creatorId},
			</if>
		    <if test="category != null and category >0">
		    #{category},
			</if>
		    <if test="status != null and status >0">
		    #{status},
			</if>
			<if test="ipAddress != null and ipAddress !=''">
	         #{ipAddress},
	        </if>
		</trim>
	</insert>
	<!-- 根据id删除数据 -->
	<delete id="deleteById" parameterType="com.qfang.xk.aom.rpc.system.SmsValidateCodeInfo">
		<![CDATA[DELETE FROM T_SMS_VALIDATE_CODE_INFO WHERE PID=#{pid}]]>
	</delete>
	<!-- 根据id更新数据 -->
		<update id="update" parameterType="com.qfang.xk.aom.rpc.system.SmsValidateCodeInfo">
		UPDATE T_SMS_VALIDATE_CODE_INFO
		<set>
		    <if test="status != null and status >0">
		     STATUS=#{status}
			</if>
		</set>
		WHERE PID = #{pid}
	</update>
	<!-- 根据传入多个id删除数据 -->
	<delete id="deleteByIds" parameterType="java.util.List">
		DELETE FROM T_SMS_VALIDATE_CODE_INFO WHERE PID in
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="getTodayMsgCountByPhone" resultType="int" parameterType="java.util.Map">
		SELECT COUNT(1)
		FROM T_SMS_VALIDATE_CODE_INFO
		<where>
			<trim>
			  TO_CHAR(SEND_DATE,'yyyy-MM-dd') =TO_CHAR(SYSDATE,'yyyy-MM-dd')
		      <if test="category != null and category >0">
	          AND CATEGORY=#{category}
	          </if>
		      <if test="telphone != null and telphone !=''">
	          AND TELPHONE=#{telphone}
	          </if>
			</trim>
		</where>
	</select>
	<select id="getTodayMsgCountByIp" resultType="int" parameterType="java.util.Map">
		SELECT COUNT(1)
		FROM T_SMS_VALIDATE_CODE_INFO
		<where>
			<trim>
			  TO_CHAR(SEND_DATE,'yyyy-MM-dd') =TO_CHAR(SYSDATE,'yyyy-MM-dd')
	          <if test="ipAddress != null and ipAddress !=''">
	          AND IP_ADDRESS=#{ipAddress}
	          </if>
			</trim>
		</where>
	</select>
</mapper>
