/**PHP翻页_why**/
.Spage {font-family:simsun;}
.Spage ul {font-size:0; line-height:26;}
.Spage ul li {display:inline-block; *display:inline; zoom:1; vertical-align:middle;white-space:nowrap; color:#333;line-height:26px; font-size:14px; color:#888;margin-right:6px;}
.Spage ul li.previous,.Spage ul li.next {font-size:12px;}
.Spage ul li.selected {font-weight:bold;}

.Spage ul li span {color:#888; line-height:26px;}
.Spage ul li a ,.Spage ul li.hidden span{ display:block; color:#333; border:1px solid #CCC; height:24px; min-width:16px; _width:16px; text-align:center; padding:0 4px;line-height:24px;}
.Spage ul li a:hover,.Spage ul li.selected a {color:#F67301; border-color:#F67301; text-decoration:none;}

.Spage ul li.previous a,
.Spage ul li.next a,
.Spage ul li.previous span,
.Spage ul li.next span{background-image:url(../img/bg.gif); background-repeat:no-repeat;}
.Spage ul li.previous a{background-position:9px 8px; padding:0 9px 0 19px;}
.Spage ul li.previous a:hover{background-position:9px -11px;}
.Spage ul li.next a{padding:0 19px 0 9px; background-position:right -30px;}
.Spage ul li.next a:hover{background-position:right -49px;}
.Spage input.pageNo {ime-mode:disabled; height:20px; line-height:20px; margin:0 5px; width:25px; text-align:center; color:#333;}
.Spage input.submit_go{height:24px; width:49px;margin:0 0 0 3px; text-align:center; color:#333;border:1px solid #B7B7B7;border-radius:2px;cursor:pointer;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#EBEBEB'); 
background: linear-gradient(top, #F7F7F7, #EBEBEB); 
background: -moz-linear-gradient(top, #F7F7F7, #EBEBEB); 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#EBEBEB));}
.Spage ul li {margin-right:6px;}
.Spage ul li.previous span{background-position:9px 8px; padding:0 9px 0 19px;}
.Spage ul li.next span{padding:0 19px 0 9px; background-position:right -30px;}
.Spage ul li.hidden span{color:#CCC; cursor:default; margin-right:0;}

/**无边框样式**/
.Spage_noB button,.Spage_noB input,.Spage_noB ul li {line-height:18px;}
.Spage_noB ul li a,.Spage_noB ul li.hidden span {border:1px solid #FFF; height:18px; line-height:18px; min-width:12px; _width:12px; padding:0 3px;}
.Spage_noB ul li.previous a{background-position:9px 5px;}
.Spage_noB ul li.previous a:hover{background-position:9px -14px;}
.Spage_noB ul li.next a {background-position:right -33px;}
.Spage_noB ul li.next a:hover {background-position:right -52px;}
.Spage_noB input.to_txt {height:16px; line-height:16px;}
.Spage_noB .pageNo {height:16px; line-height:16px;}
.Spage_noB input.submit_go {height:22px; width:49px; text-align:center; color:#333;
	
}
.Spage_noB .hidden {display:none;}

/**只有上下翻页效果样式**/
.Spage_ico_but {_height:20px; min-height:20px;}
.Spage_ico_but ul li {line-height:17px; height:17px; overflow:hidden;}
.Spage_ico_but ul li.previous,.Spage_ico_but ul li.next {
	border:1px solid #B3B3B3;
	border-radius:2px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#EBEBEB'); 
	background: linear-gradient(top, #F7F7F7, #EBEBEB); 
	background: -moz-linear-gradient(top, #F7F7F7, #EBEBEB); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#EBEBEB)); 
}
.Spage_ico_but ul li.previous a,.Spage_ico_but ul li.next a {width:17px; height:17px; overflow:hidden; padding:0; text-indent:-9999px; border:0px none #FFF; background-repeat:no-repeat;}
.Spage_ico_but ul li.previous a {background-position:5px 4px; }
.Spage_ico_but ul li.previous a:hover {background-position:5px -15px;}
.Spage_ico_but ul li.next a {background-position:7px -34px;}
.Spage_ico_but ul li.next a:hover {background-position:7px -53px;}


/*默认彩色*/
.Spage ul li.previous a{background-position:9px -11px;}
.Spage ul li.next a{background-position:right -49px;}
.Spage_noB ul li.previous a{background-position:9px -14px;}
.Spage_noB ul li.next a{background-position:right -52px;}
.Spage_ico_but ul li.previous a{background-position:5px -15px;}
.Spage_ico_but ul li.next a{background-position:7px -53px;}
/**/

/**蓝色**/
.Spage_blue ul li a:hover,
.Spage_blue ul li.selected a {color:#0183F6; border-color:#0183F6; text-decoration:none;}
.Spage_blue ul li.previous a,
.Spage_blue ul li.next a,
.Spage_blue ul li.previous span,
.Spage_blue ul li.next span{background-image:url(../img/bg_blue.gif); background-repeat:no-repeat;}

/**红色**/
.Spage_red ul li a:hover,
.Spage_red ul li.selected a {color:#E94545; border-color:#E94545; text-decoration:none;}
.Spage_red ul li.previous a,
.Spage_red ul li.next a,
.Spage_red ul li.previous span,
.Spage_red ul li.next span{background-image:url(../img/bg_red.gif); background-repeat:no-repeat;}

/**橙色**/
.Spage_orange ul li a:hover,
.Spage_orange ul li.selected a {color:#F60; border-color:#F60; text-decoration:none;}
.Spage_orange ul li.previous a,
.Spage_orange ul li.next a,
.Spage_orange ul li.previous span,
.Spage_orange ul li.next span{background-image:url(../img/bg_orange.gif); background-repeat:no-repeat;}