@import url('../../l/jquery-easyui-1.4/themes/default/easyui.css');
@import url('../../l/jquery-easyui-1.4/themes/icon.css');

html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:12px/1.5 arial,simsun}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:underline}
a:hover{text-decoration:none}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
img,object{vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
body{color:#444;background:#fff url(img/bg.png) repeat;text-shadow:1px 1px 0px #bbb;}
.clear{clear:both;}

.nav{position:fixed;top:0;bottom:0;background:#EFEEE9;box-shadow:1px 1px 4px #999;padding:10px;}
.nav h3{margin-bottom:10px;}

.container{padding:8px 10px 10px 175px;}
h2{font:700 18px/30px microsoft yahei;}
.container h2,.container h3{margin:15px 0 8px;}

.directory{width:300px;background:#fff;padding:5px;float:left;margin-right:10px;height:1600px;}

.explain{line-height:22px;padding-right:200px;padding-left:310px;}
.explain p{margin-bottom:10px;}
.code,.html,.css{background:#fefefe;display:inline-block;padding:10px;border:dashed 1px #ccc;}

.jtable td{border: 1px solid #ccc; padding: 5px;background:#fff;}