<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlkfinance.bms.server.inloan.mapper.BizLoanBatchRefundFeeMainMapper">
	<resultMap id="bizLoanBatchRefundFeeMainMap" type="com.xlkfinance.bms.rpc.inloan.BizLoanBatchRefundFeeMain">
		<id property="pid" column="PID" />
		<id property="batchName" column="BATCH_NAME" />
		<id property="applyStatus" column="APPLY_STATUS" />
		<id property="createDate" column="CREATE_DATE" />
		<id property="createrId" column="CREATER_ID" />
		<id property="updateId" column="UPDATE_ID" />
		<id property="updateDate" column="UPDATE_DATE" />
	</resultMap>
	<sql id="column_list">
        PID,BATCH_NAME,APPLY_STATUS,CREATE_DATE,CREATER_ID,UPDATE_ID,UPDATE_DATE
	</sql>
	<!-- 查询所有 -->
	<select id="getAll" resultMap="bizLoanBatchRefundFeeMainMap" parameterType="com.xlkfinance.bms.rpc.inloan.BizLoanBatchRefundFeeMain">
		SELECT
		<include refid="column_list" />
		FROM BIZ_LOAN_BATCH_REFUND_FEE_MAIN
		<where>
			<trim>
		      <if test="pid != null and pid >0">
	          PID=#{pid}
	          </if>
		      <if test="batchName != null and batchName !=''">
	          AND BATCH_NAME=#{batchName}
	          </if>
		      <if test="applyStatus != null and applyStatus >0">
	          AND APPLY_STATUS=#{applyStatus}
	          </if>
		      <if test="createDate != null and createDate !=''">
	          AND CREATE_DATE=#{createDate}
	          </if>
		      <if test="createrId != null and createrId >0">
	          AND CREATER_ID=#{createrId}
	          </if>
		      <if test="updateId != null and updateId >0">
	          AND UPDATE_ID=#{updateId}
	          </if>
		      <if test="updateDate != null and updateDate !=''">
	          AND UPDATE_DATE=#{updateDate}
	          </if>
			</trim>
		</where>
	</select>
	<!-- 根据id获取 -->
	<select id="getById" resultMap="bizLoanBatchRefundFeeMainMap">
		SELECT <include refid="column_list" /> FROM BIZ_LOAN_BATCH_REFUND_FEE_MAIN WHERE PID=#{pid}
	</select>
	<select id="getNextId" resultType="int">
		SELECT SEQ_BATCH_REFUND_FEE_MAIN.Nextval as PID from DUAL
	</select>
	<!-- 插入一条数据 -->
	<insert id="insert" parameterType="com.xlkfinance.bms.rpc.inloan.BizLoanBatchRefundFeeMain">
		<selectKey resultType="java.lang.Integer" order="BEFORE"
			keyProperty="pid">
			SELECT SEQ_BATCH_REFUND_FEE_MAIN.Nextval as PID from DUAL
		</selectKey>
		INSERT INTO BIZ_LOAN_BATCH_REFUND_FEE_MAIN
		<trim prefix="(" suffix=")" suffixOverrides=",">
		    <if test="pid != null and pid >0">
				PID,
			</if>
		    <if test="batchName != null and batchName !=''">
				BATCH_NAME,
			</if>
		    <if test="applyStatus != null and applyStatus >0">
				APPLY_STATUS,
			</if>
				CREATE_DATE,
		    <if test="createrId != null and createrId >0">
				CREATER_ID,
			</if>
		    <if test="updateId != null and updateId >0">
				UPDATE_ID,
			</if>
				UPDATE_DATE,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		    <if test="pid != null and pid >0">
		    #{pid},
			</if>
		    <if test="batchName != null and batchName !=''">
		    #{batchName},
			</if>
		    <if test="applyStatus != null and applyStatus >0">
		    #{applyStatus},
			</if>
		   SYSDATE,
		    <if test="createrId != null and createrId >0">
		    #{createrId},
			</if>
		    <if test="updateId != null and updateId >0">
		    #{updateId},
			</if>
		    SYSDATE
		</trim>
	</insert>
	<!-- 根据id删除数据 -->
	<delete id="deleteById" parameterType="com.xlkfinance.bms.rpc.inloan.BizLoanBatchRefundFeeMain">
		<![CDATA[DELETE FROM BIZ_LOAN_BATCH_REFUND_FEE_MAIN WHERE PID=#{pid}]]>
	</delete>
	<!-- 根据id更新数据 -->
		<update id="update" parameterType="com.xlkfinance.bms.rpc.inloan.BizLoanBatchRefundFeeMain">
		UPDATE BIZ_LOAN_BATCH_REFUND_FEE_MAIN
		<set>
		    <if test="pid != null and pid >0">
		     PID=#{pid},
			</if>
		    <if test="batchName != null and batchName !=''">
		     BATCH_NAME=#{batchName},
			</if>
		    <if test="applyStatus != null and applyStatus >0">
		     APPLY_STATUS=#{applyStatus},
			</if>
		    <if test="updateId != null and updateId >0">
		     UPDATE_ID=#{updateId},
			</if>
		     UPDATE_DATE=SYSDATE
		</set>
		WHERE PID = #{pid}
	</update>
	<!-- 根据传入多个id删除数据 -->
	<delete id="deleteByIds" parameterType="java.util.List">
		DELETE FROM BIZ_LOAN_BATCH_REFUND_FEE_MAIN WHERE PID in
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>
